.pagination.center,
.pagination.center ul {
  float: left;
  position: relative;
}
.pagination.center { left: 50%; }
.pagination.center ul { left: -50%; }

.pagination li {
  display:inline;
  font-weight: bold;
  font-size: larger;

}

.pagination ul {
  background: rgba(19, 35, 47, 0.9);
  border-radius: 4px;
  padding-left: 1px;
  box-shadow: 0 4px 10px 4px rgba(19, 35, 47, 0.3);
}